
*{
  margin: 0;
  padding: 0;
}
.pagina1{
  width: 1000px;    
  height: 1480px;
  margin: 10px 30px 20px 40px;
  padding: 40px;
  background-color: pink;
}
.pagina1a{
  width: 300px;
  height: 300px ;
  margin: 10px 10px 5px 20px;
  padding: 1px;
  display: inline-block;
  background-color: blanchedalmond;
}
.pagina1a1{
  width: 250px;
  height: 250px ;
  margin: 10px 10px 0px 7px;
  padding: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: #D8BC95;
}

.pagina1b{
  width: 300px;
  height: 300px ;
  margin: 10px 10px 5px 15px;
  padding: 1px;
  display: inline-block;
  background-color: #221A0E;
}
.pagina1b1{
  width: 250px;
  height: 250px ;
  margin: 10px 10px 0px 7px;
  padding: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: #F09319;
}
.pagina1c{
  width: 300px;
  height: 300px ;
  margin: 10px 10px 50px 21px;
  padding: 1px;
  display: inline-block;
  background-color: #D3C7B7;
}
.pagina1c1{
  width: 250px;
  height: 250px ;
  margin: 10px 10px 0px 7px;
  padding: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: #97611B;
}
.pagina1d{
  width: 450px;
  height: 450px ;
  margin: 10px 10px 50px 30px;
  padding: 1px;
  display: inline-block;
  background-color: #8727E0;
}
.pagina1d1{
  width: 400px;
  height: 400px ;
  margin: 10px 10px 0px 7px;
  padding: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: aqua;
}
.pagina1e{
  width: 450px;
  height: 450px ;
  margin: 10px 10px 50px 21px;
  padding: 1px;
  display: inline-block;
  background-color: #B699D1;
}
.pagina1e1{
  width: 400px;
  height: 400px ;
  margin: 10px 10px 0px 7px;
  padding: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: #085E5E;
}
.pagina1f{
  width: 950px;
  height: 580px ;
  margin: 10px 20px 50px 2px;
  padding: 1px;
  display: inline-block;
  background-color: #B699D1;
}
.pagina1x{
  width:200px;
  height: 500px ;
  margin: 30px 40px 50px 80px;
  padding: 1px;
  display: inline-block;
  background-color: #324B9C;
}
.pagina1x1{
  width: 130px;
  height: 130px ;
  margin: 25px 20px 20px 35px;
  padding: 1px;
  background-color: #C52294;
}
.pagina1x2{
  width: 130px;
  height: 130px ;
  margin: 30px 25px 20px 35px;
  padding: 1px;
  background-color: yellow;
}
.pagina1x3{
  width: 130px;
  height: 130px ;
  margin: 30px 25px 20px 35px;
  padding: 1px;
  background-color:blue;
}
.pagina1g{
  width:250px;
  height: 500px ;
  margin: 50px 30px 50px 50px;
  padding: 1px;
  display: inline-block;
  background-color: red;
}
.pagina1g1{
  width:200px;
  height: 470px ;
  margin: 20px 20px 20px 20px;
  padding: 1px;
  border-radius: 50%;
  background-color: #58B2DB;
}

.pagina1y{
  width:200px;
  height: 500px ;
  margin: 50px 20px 50px 50px;
  padding: 1px;
  display: inline-block;
  background-color: #58B2DB;
}
.pagina1y1{
  width: 130px;
  height: 130px ;
  margin: 25px 20px 20px 35px;
  padding: 1px;
  border-radius: 50%;
  background-color: #FAEEFF;
}
.pagina1y2{
  width: 130px;
  height: 130px ;
  margin: 30px 25px 20px 35px;
  padding: 1px;
  border-radius: 50%;
  background-color: #B421A8;
}
.pagina1y3{
  width: 130px;
  height: 130px ;
  margin: 30px 25px 20px 35px;
  padding: 1px;
  border-radius: 50%;
  background-color: #3113B6;
}


.page2{
  width: 900px;    
  height: 1200px;
  margin: 10px 30px 20px 40px;
  padding: 40px;
  background-color: #0E0B0C;
}
.page2a{
  width: 350px;    
  height: 350px;
  margin: 5px 10px;
  padding: 40px;
  display: inline-block;
  vertical-align: top;  
  background-color: #16B5BB;
}
.page2a1{
  width: 170px;
  height: 170px ;
  margin: auto;
  border-radius: 50%;
  display: inline-block;  
  padding: 1px;  
  background-color: #3113B6;
}
.page2a2{
  width: 170px;
  height: 170px ;
  margin: auto ;
  border-radius: 50%;
  display: inline-block; 
  padding: 1px;   
  background-color: #3113B6;
}
.page2a3{
  width: 170px;
  height: 170px ;
  margin: auto;
  border-radius: 50%;
  display: inline-block;  
  padding: 1px;  
  background-color: #3113B6;
}
.page2a4{
  width: 170px;
  height: 170px ;
  margin:auto;
  border-radius: 50%;
  display: inline-block;   
  padding: 1px; 
  background-color: #3113B6;
}
.page2b{
  width: 350px;    
  height: 350px;
  margin: 5px;
  padding: 40px;
  display: inline-block;
  vertical-align: top;
  background-color: #6C579C;
}
.page2b1{
  width: 170px;
  height: 170px ;
  margin: auto;
  border-radius: 50%;
  padding: 1px;
  display: inline-block;    
  background-color: #13B629;
}
.page2b2{
  width: 170px;
  height: 170px ;
  margin: auto;
  border-radius: 50%;
  padding: 1px;
  display: inline-block;    
  background-color: #B6B313;
}
.page2b3{
  width: 170px;
  height: 170px ;
  margin: auto ;
  border-radius: 50%;
  padding: 1px;
  display: inline-block;    
  background-color: #21B613;
}
.page2b4{
  width: 170px;
  height: 170px ;
  margin: auto;
  border-radius: 50%;
  padding: 1px;
  display: inline-block;    
  background-color: #13B636;
}
.page2c{
  width: 500px;
  height: 320px ;
  margin: 50px 200px;
  padding: 1px;
  background-color: #1D1544;
}
.page2c1{
  width: 200px;
  height: 200px ;
  margin: 50px 25px;
  border-radius: 50%;
  padding: 1px;
  display: inline-block;    
  background-color: #13B636;
}
.page2c2{
  width: 200px;
  height: 200px ;
  margin: 50px 20px;
  border-radius: 50%;
  padding: 1px;
  display: inline-block;    
  background-color: #13B636;
}
.page2d{
  width: 170px;
  height: 320px ;
  margin: 20px 5px;
  padding: 1px;
  display: inline-block;      
  background-color: #2E09E7;
}
.page2d1{
  width: 150px;
  height: 290px ;
  margin: 10px 5px;
  padding: 1px;
  border-radius: 50%;  
  background-color: #51FFD4;
}
.page2e{
  width: 170px;
  height: 320px ;
  margin: 20px 5px;
  padding: 1px;
  display: inline-block;      
  background-color: #F0FF65;
}
.page2e1{
  width: 150px;
  height: 290px ;
  margin: 10px 5px;
  padding: 1px;
  border-radius: 50%;  
  background-color: #EC3902;
}
.page2f{
  width: 170px;
  height: 320px ;
  margin: 20px 5px;
  padding: 1px;
  display: inline-block;      
  background-color: #FF35FF;
}
.page2f1{
  width: 150px;
  height: 290px ;
  margin: 10px 5px;
  padding: 1px;
  border-radius: 50%;  
  background-color: #F81F1F;
}
.page2x{
  width: 310px;
  height: 320px ;
  margin: 20px 10px;
  padding: 1px;
  display: inline-block;      
  vertical-align: top;
  background-color: #1F970F;
}
.page2x1{
  width: 140px;
  height: 140px ;
  margin: 7px 5px;
  padding: 1px;
  border-radius: 50%; 
  display: inline-block;   
  background-color: #F81F1F;
}
.page2x2{
  width: 140px;
  height: 140px ;
  margin: 7px 5px;
  padding: 1px;
  border-radius: 50%;  
  display: inline-block;  
  background-color: #F81F1F;
}
.page2x3{
  width: 140px;
  height: 140px ;
  margin: 7px 5px;
  padding: 1px;
  border-radius: 50%;  
  display: inline-block;  
  background-color: #F81F1F;
}
.page2x4{
  width: 140px;
  height: 140px ;
  margin: 7px 5px;
  padding: 1px;
  border-radius: 50%;  
  display: inline-block;  
  background-color: #F81F1F;
}
.page3{
  width: 1100px;
  height: 1400px ;
  margin: 10px 10px;
  padding: 1px;
  background-color: #1D1544;
}
.page3a{
  width: 490px;    
  height: 410px;
  margin: 10px 15px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;  
  background-color: #16B5BB;
}
.page3t{
  width: 460px;    
  height: 380px;
  margin: 15px;
  padding: 2px;
  display: inline-block;
  background-color: #FF133A;
}
.page3o{
  width: 420px;    
  height: 340px;
  margin: 5px 7px;
  padding: 10px;
  display: inline-block;
  background-color: rgba(216, 247, 81, 0.95);
}
.page3a1{
  width: 120px;
  height: 120px ;
  margin: 20px 7px 20px 7px;
  padding: 1px;
  border-radius: 50%;  
  display: inline-block;  
  background-color: #F81F1F;
}
.page3a2{
  width: 120px;
  height: 120px ;
  margin: 20px 7px 20px 7px;
  padding: 1px;
  border-radius: 50%;  
  display: inline-block;  
  background-color: #F81F1F;
}
.page3a3{
  width: 120px;
  height: 120px ;
  margin: 20px 7px 20px 7px;
  padding: 1px;
  border-radius: 50%;  
  display: inline-block;  
  background-color: #F81F1F;
}
.page3a4{
  width: 120px;
  height: 120px ;
  margin: 20px 7px 20px 7px;
  padding: 1px;
  border-radius: 50%;  
  display: inline-block;  
  background-color: #F81F1F;
}
.page3a5{
  width: 120px;
  height: 120px ;
  margin: 20px 7px 20px 7px;
  padding: 1px;
  border-radius: 50%;  
  display: inline-block;  
  background-color: #F81F1F;
}
.page3a6{
  width: 120px;
  height: 120px ;
  margin: 20px 7px 20px 7px;
  padding: 1px;
  border-radius: 50%;  
  display: inline-block;  
  background-color: #F81F1F;
}

.page3b{
  width: 490px;    
  height: 410px;
  margin: 10px 15px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;  
  background-color: #16B5BB;
}
.page3c{
  width: 460px;    
  height: 380px;
  margin: 15px;
  padding: 2px;
  display: inline-block;
  background-color: #FF607B;
}
.page3m{
  width: 420px;    
  height: 340px;
  margin: 5px 7px;
  padding: 10px;
  display: inline-block;
  background-color: rgba(136, 167, 0, 0.95);
}
.page3b1{
  width: 120px;
  height: 120px ;
  margin: 20px 7px 20px 7px;
  padding: 1px;
  display: inline-block;  
  background-color: #F81F1F;
}
.page3b2{
  width: 120px;
  height: 120px ;
  margin: 20px 7px 20px 7px;
  padding: 1px;
  display: inline-block;  
  background-color: #F81F1F;
}
.page3b3{
  width: 120px;
  height: 120px ;
  margin: 20px 7px 20px 7px;
  padding: 1px;
  border-radius: 50%;  
  display: inline-block;  
  background-color: #F81F1F;
}
.page3b4{
  width: 120px;
  height: 120px ;
  margin: 20px 7px 20px 7px;
  padding: 1px;
  display: inline-block;  
  background-color: #F81F1F;
}
.page3b5{
  width: 120px;
  height: 120px ;
  margin: 20px 7px 20px 7px;
  padding: 1px;
  display: inline-block;  
  background-color: #F81F1F;
}
.page3b6{
  width: 120px;
  height: 120px ;
  margin: 20px 7px 20px 7px;
  padding: 1px;
  border-radius: 50%;  
  display: inline-block;  
  background-color: #F81F1F;
}
.page3d{
  width: 1050px;    
  height: 410px;
  margin: 10px 15px;
  padding: 10px;
  display: inline-block;
  background-color: #FF60CF;
}
.page3x{
  width: 1020px;    
  height: 380px;
  margin: 15px;
  padding: 2px;
  display: inline-block;
  background-color: #4D5EFF;
}
.page3d1{
  width: 340px;    
  height: 340px;
  margin: 5px 22px;
  padding: 10px;
  display: inline-block;
  background-color: rgba(241, 164, 20, 0.95);
}
.page3d2{
  width: 140px;
  height: 310px ;
  margin: 20px 10px 20px 7px;
  padding: 1px;
  border-radius: 50%;  
  display: inline-block;  
  background-color: #F81F1F;
}
.page3d3{
  width: 140px;
  height: 310px ;
  margin: 20px 7px 20px 7px;
  padding: 1px;
  border-radius: 50%;  
  display: inline-block;  
  background-color: #F81F1F;
}
.page3d4{
  width: 300px;    
  height: 356px;
  margin: 2px 20px;
  padding: 1px;
  display: inline-block;
  background-color: rgba(241, 164, 20, 0.95);
}
.page3d5{
  width: 285px;
  height: 120px ;
  margin: 30px 7px 30px 7px;
  padding: 1px;
  border-radius: 50%;  
  background-color: #52D4AD;
}
.page3d6{
  width: 285px;
  height: 120px ;
  margin: 20px 7px 40px 7px;
  padding: 1px;
  border-radius: 50%;  
  background-color: #F81F1F;
}
.page3d7{
  width: 180px;    
  height: 356px;
  margin: 2px 40px;
  padding: 1px;
  display: inline-block;
  background-color: rgba(253, 52, 96, 0.95);
}
.page3d8{
  width: 140px;
  height: 140px ;
  margin: 20px 40px 30px 20px;
  padding: 1px;
  border-radius: 50%;  
  background-color: #DB7171;
}
.page3d9{
  width: 140px;
  height: 140px ;
  margin: 20px 40px 40px 20px;
  padding: 1px;
  border-radius: 50%;  
  background-color: #E916D7;
}
.page3z{
  width: 1045px;    
  height: 310px;
  margin: 60px 8000px 20px 8px ;
  padding: 1px;
  background-color: #FD2828;
}
.page3z1{
  width: 1015px;    
  height: 270px;
  margin: 15px ;
  padding: 2px;
  background-color: #0519C9;
}
.page3z2{
  width: 985px;    
  height: 230px;
  margin: 15px ;
  padding: 2px;
  background-color: #92FF49;
}
.page3z3{
  width: 960px;    
  height: 200px;
  margin: 15px ;
  padding: 2px;
  background-color: #DA0808;
}
.page3bo1{
  width: 140px;
  height: 140px ;
  margin: 20px 10px 40px 20px;
  padding: 1px;
  border-radius: 50%;
  display: inline-block;  
  background-color: #E916D7;
}
.page3bo2{
  width: 140px;
  height: 140px ;
  margin: 20px 10px 40px 20px;
  padding: 1px;
  border-radius: 50%;   
 display: inline-block;
  background-color: #E916D7;
}
.page3bo3{
  width: 140px;
  height: 140px ;
  margin: 20px 10px 40px 20px;
  padding: 1px;
  border-radius: 50%;
  display: inline-block;  
  background-color: #E916D7;
}
.page3bo4{
  width: 140px;
  height: 140px ;
  margin: 20px 10px 40px 20px;
  padding: 1px;
  border-radius: 50%;
  display: inline-block;  
  background-color: #E916D7;
}
.page3bo5{
  width: 140px;
  height: 140px ;
  margin: 20px 10px 40px 20px;
  padding: 1px;
  border-radius: 50%;
  display: inline-block;  
  background-color: #E916D7;
}
.page4{
  width: 839px;    
  height: 1150px;
  margin: 10px 30px 20px 40px;
  padding: 40px;
  background-color: #FF8800;
}
.page4a{
  width: 130px;
  height: 290px ;
  margin: 5px;
  padding: 1px;
  display: inline-block;  
  background-color: #1A80F3;
}
.page4a1{
  width: 100px;
  height: 100px ;
  margin: 16px;
  padding: 1px;
  border-radius: 50%;  
  background-color: #E916D7;
}
.page4a2{
  width: 100px;
  height: 100px ;
  margin: 30px 16px 16px 16px;
  padding: 1px;
  border-radius: 50%;
  display: inline-block;  
  background-color: #E916D7;
}
.page4b{
  width: 130px;
  height: 290px ;
  margin: 5px;
  padding: 1px;
  display: inline-block;  
  background-color: #0E437C;
}
.page4b1{
  width: 100px;
  height: 235px ;
  margin: 30px 16px 16px 16px;
  padding: 1px;
  border-radius: 50%;
  display: inline-block;  
  background-color: #E916D7;
}
.page4c{
  width: 130px;
  height: 290px ;
  margin: 5px;
  padding: 1px;
  display: inline-block;  
  background-color: #26105C;
}
.page4c1{
  width: 100px;
  height: 100px ;
  margin: 16px;
  padding: 1px;
  border-radius: 50%;  
  background-color: #E916D7;
}
.page4c2{
  width: 100px;
  height: 100px ;
  margin: 30px 16px 16px 16px;
  padding: 1px;
  border-radius: 50%;
  display: inline-block;  
  background-color: #E916D7;
}
.page4d{
  width: 130px;
  height: 290px ;
  margin: 5px;
  padding: 1px;
  display: inline-block;  
  background-color: #36D615;
}
.page4d1{
  width: 100px;
  height: 235px ;
  margin: 30px 16px 16px 16px;
  padding: 1px;
  border-radius: 50%;
  display: inline-block;  
  background-color: #D0F83F;
}
.page4e{
  width: 130px;
  height: 290px ;
  margin: 5px;
  padding: 1px;
  display: inline-block;  
  background-color: #26105C;
}
.page4e1{
  width: 100px;
  height: 100px ;
  margin: 16px;
  padding: 1px;
  border-radius: 50%;  
  background-color: #A87839;
}
.page4e2{
  width: 100px;
  height: 100px ;
  margin: 30px 16px 16px 16px;
  padding: 1px;
  border-radius: 50%;
  display: inline-block;  
  background-color: #FD30EC;
}
.page4f{
  width: 90px;
  height: 290px ;
  margin: 5px;
  padding: 1px;
  display: inline-block;  
  vertical-align: top;    
  background-color: #37B953;
}
.page4g{
  width: 350px;
  height: 320px ;
  margin: 10px;
  padding: 1px;
  display: inline-block;  
  background-color: #B6E721;
}
.page4g1{
  width: 280px;
  height:110px ;
  margin: 10px 40px;
  padding: 1px;
  display: inline-block;  
  background-color: #FD30EC;
}
.page4g2{
  width: 260px;
  height: 100px ;
  margin: 5px;
  padding: 1px;
  border-radius: 50%;
  display: inline-block;  
  background-color: #60BE49;
}
.page4g3{
  width: 80px;
  height: 165px ;
  margin: 5px 15px 5px 60px;
  padding: 1px;
  display: inline-block;  
  background-color: #36D615;
}
.page4g4{
  width: 70px;
  height: 150px ;
  margin: 5px ;
  padding: 1px;
  border-radius: 50%;
  display: inline-block;  
  background-color: #D0F83F;
}
.page4g5{
  width: 80px;
  height: 165px ;
  margin: 5px 50px;
  padding: 1px;
  vertical-align: top;    
  display: inline-block;  
  background-color: #36D615;
}
.page4g6{
  width: 55px;
  height: 55px ;
  margin: 12px;
  padding: 1px;
  border-radius: 50%;  
  background-color: #A87839;
}
.page4g7{
  width: 55px;
  height: 55px ;
  margin: 12px;
  padding: 1px;
  border-radius: 50%;
  display: inline-block;  
  background-color: #973C91;
}
.page4h{
  width: 450px;
  height: 320px ;
  margin:10px 5px;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;   
  background-color: #D721E7;
}
.page4h1{
  width: 420px;
  height: 290px ;
  margin: 12px;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;   
  background-color: #21AFE7;
}
.page4h2{
  width: 390px;
  height: 260px ;
  margin: 12px 14px;
  padding: 1px;
  display: inline-block; 
  background-color: #E72121;
}
.page4hd{
  width:100px;
  height: 165px ;
  margin: 40px 8px 40px 25px;
  padding: 1px;
  display: inline-block; 
  background-color: #21E0E7;
}
.page4hd1{
  width:80px;
  height: 80px ;
  margin: 35px 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #DAE721;
}
.page4h1d{
  width:100px;
  height: 165px ;
  margin: 40px 2px;
  padding: 1px;
  display: inline-block; 
  background-color: #21E0E7;
}
.page4h1d1{
  width:80px;
  height: 80px ;
  margin: 35px 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #DAE721;
}
.page4h2d{
  width:100px;
  height: 165px ;
  margin: 40px 10px;
  padding: 1px;
  display: inline-block; 
  background-color: #21E0E7;
}
.page4h2d1{
  width:80px;
  height: 80px ;
  margin: 35px 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #DAE721;
}
.page4y{
  width: 245px;
  height: 320px ;
  margin: 10px;
  padding: 1px;
  display: inline-block; 
  vertical-align: top; 
  background-color: #21A8E7;
}
.page4yd{
  width: 220px;
  height: 300px ;
  margin: 10px;
  padding: 1px;
  display: inline-block;  
  background-color: #5719FF;
}
.page4y1{
  width: 180px;
  height: 145px ;
  margin: 10px 20px;
  padding: 1px;
  display: inline-block;  
  background-color: #19FFBA;
}
.page4y2{
  width: 160px;
  height: 120px ;
  margin: 10px;
  padding: 1px;
  border-radius: 50%;     
  background-color: #A1C44F;
}
.page4y3{
  width: 160px;
  height: 120px ;
  margin: 0px 30px;
  padding: 1px;
  border-radius: 50%;     
  background-color: #A1C44F;
}
.page4x{
  width: 245px;
  height: 320px ;
  margin: 10px;
  padding: 1px;
  display: inline-block;  
  vertical-align: top;
  background-color: #21A8E7;
}
.page4xd{
  width: 220px;
  height: 300px ;
  margin: 10px;
  padding: 1px;
  display: inline-block;  
  background-color: #5719FF;
}

.page4x1{
  width: 160px;
  height: 120px ;
  margin: 0px 30px;
  padding: 1px;
  border-radius: 50%;     
  background-color: #A1C44F;
}
.page4x2{
  width: 180px;
  height: 145px ;
  margin: 10px 20px;
  padding: 1px;
  display: inline-block;  
  background-color: #19FFBA;
}
.page4x3{
  width: 160px;
  height: 120px ;
  margin: 10px;
  padding: 1px;
  border-radius: 50%;     
  background-color: #A1C44F;
}


.page4z{
  width: 245px;
  height: 320px ;
  margin: 10px;
  padding: 1px;
  display: inline-block;  
  background-color: #21A8E7;
}
.page4zd{
  width: 220px;
  height: 300px ;
  margin: 10px;
  padding: 1px;
  display: inline-block;  
  background-color: #5719FF;
}
.page4z2{
  width: 200px;
  height: 200px ;
  margin: 50px 10px;
  padding: 1px;
  display: inline-block;  
  border-radius: 50%;   
  background-color: #19FF3F;
}
.page4v{
  width: 780px;
  height: 150px ;
  margin: 10px;
  padding: 1px;
  display: inline-block;  
  background-color: #E72121;
}
.page4v1{
  width:100px;
  height: 120px ;
  margin:20px;
  padding: 1px;
  display: inline-block; 
  background-color: #21E0E7;
}
.page4v2{
  width:75px;
  height: 75px ;
  margin: 20px 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #DAE721;
}
.page4v3{
  width:100px;
  height: 120px ;
  margin:20px;
  padding: 1px;
  display: inline-block; 
  background-color: #21E0E7;
}
.page4v4{
  width:75px;
  height: 75px ;
  margin: 20px 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #DAE721;
}
.page4v5{
  width:100px;
  height: 120px ;
  margin: 20px;
  padding: 1px;
  display: inline-block; 
  background-color: #21E0E7;
}
.page4v6{
  width:75px;
  height: 75px ;
  margin: 20px 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #DAE721;
}
.page4v7{
  width:100px;
  height: 120px ;
  margin:  20px;
  padding: 1px;
  display: inline-block; 
  background-color: #21E0E7;
}
.page4v8{
  width:75px;
  height: 75px ;
  margin: 20px 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #DAE721;
}
.page4v9{
  width:120px;
  height: 120px ;
  margin: 20px;
  padding: 1px;
  display: inline-block;
  vertical-align: top;  
  background-color: #21E0E7;
}
.page4v10{
  width:90px;
  height: 50px ;
  margin: 2px 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #DAE721;
}
.page4v11{
  width:90px;
  height: 50px ;
  margin: 2px 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #DAE721;
}
.page5{
  width: 839px;    
  height: 1200px;
  margin: 10px 30px 20px 40px;
  padding: 40px;
  background-color: #FF6600;
}
.page5a{
  width: 245px;
  height: 900px ;
  margin: 10px;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;   
  background-color: #21A8E7;
}
.page5b{
  width: 245px;
  height: 900px ;
  margin: 10px;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;   
  background-color: #8721E7;
}
.page5c{
  width: 245px;
  height: 900px ;
  margin: 10px;
  padding: 1px;
  display: inline-block;
  vertical-align: top;    
  background-color: #0E8888;
}
.page5d{
  width: 800px;
  height: 245px ;
  margin: 10px;
  padding: 1px;
  display: inline-block;  
   vertical-align: top;  
  background-color: #4521E7;
}
.page5a1{
  width:85px;
  height: 150px ;
  margin: 20px 25px;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;    
  background-color: #3D3F0F;
}
.page5a2{
  width:60px;
  height: 60px ;
  margin:5px 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #21E742;
}
.page5a3{
  width:60px;
  height: 60px ;
  margin: 5px 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #9E21E7;
}
.page5a4{
  width:65px;
  height: 150px ;
  margin: 20px 10px;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;    
  background-color: #DAE721;
}
.page5a5{
  width:45px;
  height: 120px ;
  margin: 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #E74F21;
}
.page5a6{
  width:190px;
  height: 90px ;
  margin: 10px 20px;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;    
  background-color: #DAE721;
}
.page5a7{
  width:60px;
  height: 60px ;
  margin: 15px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #E74F21;
}
.page5a8{
  width:60px;
  height: 60px ;
  margin: 15px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #E74F21;
}
.page5a9{
  width:65px;
  height: 150px ;
  margin: 20px 10px;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;    
  background-color: #DAE721;
}
.page5a10{
  width:45px;
  height: 45px ;
  margin: 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #E74F21;
}
.page5a11{
  width:45px;
  height: 45px ;
  margin: 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #E74F21;
}
.page5a12{
  width:85px;
  height: 150px ;
  margin: 20px;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;    
  background-color: #DAE721;
}
.page5a13{
  width:60px;
  height: 60px ;
  margin:5px 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #21E742;
}
.page5a14{
  width:60px;
  height: 60px ;
  margin: 5px 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #E7D321;
}
.page5a15{
  width:200px;
  height: 310px ;
  margin: 20px;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;    
  background-color: #C9E721;
}
.page5a16{
  width:60px;
  height: 60px ;
  margin: 40px 20px 10px 20px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #E72184;
}
.page5a17{
  width:60px;
  height: 60px ;
  margin: 40px 5px 10px 5px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #41EB5D;
}
.page5a18{
  width:40px;
  height: 40px ;
  margin: 5px 30px 10px 75px;
  padding: 1px;
  display: inline-block; 
  background-color: #21E742;
}
.page5a19{
  width:150px;
  height: 70px ;
  margin: 20px;
  padding: 1px;
  display: inline-block; 
  background-color: #3521E7;
}
.page5b1{
  width:200px;
  height: 310px ;
  margin: 20px;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;    
  background-color: #DAE721;
}
.page5b2{
  width:60px;
  height: 60px ;
  margin: 40px 20px 10px 20px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #249980;
}
.page5b3{
  width:60px;
  height: 60px ;
  margin: 40px 5px 10px 5px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #21E742;
}
.page5b4{
  width:40px;
  height: 40px ;
  margin: 5px 30px 10px 75px;
  padding: 1px;
  display: inline-block; 
  background-color: #4C21E7;
}
.page5b5{
  width:150px;
  height: 70px ;
  margin: 20px;
  padding: 1px;
  display: inline-block; 
  background-color: #21E742;
}
.page5b6{
  width:85px;
  height: 150px ;
  margin: 20px 25px;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;    
  background-color: #4A4D24;
}
.page5b7{
  width:60px;
  height: 60px ;
  margin:5px 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #E4E721;
}
.page5b8{
  width:60px;
  height: 60px ;
  margin: 5px 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #21E742;
}
.page5b9{
  width:85px;
  height: 150px ;
  margin: 20px 5px;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;    
  background-color: #DAE721;
}
.page5b10{
  width:60px;
  height: 60px ;
  margin:5px 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #48BE5C;
}
.page5b11{
  width:60px;
  height: 60px ;
  margin: 5px 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #21E742;
}
.page5b12{
  width:190px;
  height: 90px ;
  margin: 10px 20px;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;    
  background-color: #DAE721;
}
.page5b13{
  width:60px;
  height: 60px ;
  margin: 15px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #E74F21;
}
.page5b14{
  width:60px;
  height: 60px ;
  margin: 15px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #E74F21;
}
.page5b15{
  width:80px;
  height: 120px ;
  margin: 30px 10px 20px 20px ;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;    
  background-color: #DAE721;
}
.page5b16{
  width:55px;
  height: 80px ;
  margin: 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #E721B6;
}
.page5b17{
  width:80px;
  height: 120px ;
  margin: 30px 10px 20px 20px ;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;    
  background-color: #21E774;
}
.page5b18{
  width:55px;
  height: 80px ;
  margin: 10px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #E74F21;
}
.page5c1{
  width:90px;
  height: 90px ;
  margin: 30px 10px 20px 20px ;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;    
  background-color: #6D21E7;
}
.page5bc2{
  width:55px;
  height: 55px ;
  margin: 15px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #E72121;
}
.page5c3{
  width:55px;
  height: 90px ;
  margin: 30px 10px 20px 20px ;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;    
  background-color: #21E0E7;
}
.page5bc4{
  width:45px;
  height: 75px ;
  margin: 5px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #E72121;
}
.page5c5{
  width:200px;
  height: 160px ;
  margin: 20px;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;    
  background-color: #DAE721;
}
.page5c6{
  width:60px;
  height: 60px ;
  margin: 5px 15px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #249980;
}
.page5c7{
  width:60px;
  height: 60px ;
  margin:5px 15px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;    
  background-color: #21E742;
}
.page5c8{
  width:60px;
  height: 60px ;
  margin:15px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;  
  background-color: #4C21E7;
}
.page5c9{
  width:60px;
  height: 60px ;
  margin: 15px;
  padding: 1px;
  display: inline-block; 
  border-radius: 50%;  
  background-color: #21E742;
}
.page5c10{
  width:200px;
  height: 160px ;
  margin: 20px;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;    
  background-color: #20D187;
}
.page5c11{
  width:120px;
  height: 65px ;
  margin: 15px 40px;
  padding: 1px;
  display: inline-block; 
  vertical-align: top;    
  background-color: #D12020;
}
.page5c12{
    width:100px;
    height: 40px ;
    margin: 10px;
    padding: 1px;
    display: inline-block; 
    border-radius: 50%;   
    background-color: #20D1C2;
  }
  .page5c13{
    width:60px;
    height: 60px ;
    margin: -5px 66px;
    padding: 1px;
    border-radius: 50%;   
    background-color: #856325;
  }
  .page5c14{
    width:80px;
    height:280px ;
    margin: 15px 20px;
    padding: 1px;
    display: inline-block; 
    vertical-align: top;    
    background-color: #D12020;
  }
  .page5c15{
    width:60px;
    height: 60px ;
    margin:20px 10px;
    padding: 1px;
    border-radius: 50%;   
    background-color: #856325;
  }
  .page5c16{
    width:60px;
    height: 60px ;
    margin: 20px 10px;
    padding: 1px;
    border-radius: 50%;   
    background-color: #856325;
  }
  .page5c17{
    width:60px;
    height: 60px ;
    margin: 20px 10px;
    padding: 1px;
    border-radius: 50%;   
    background-color: #856325;
  }
  .page5c18{
    width:80px;
    height:280px ;
    margin: 15px 5px;
    padding: 1px;
    display: inline-block; 
    vertical-align: top;    
    background-color: #2FD120;
  }
  .page5d1{
    width: 765px;
    height: 225px ;
    margin: 10px;
    padding: 1px;
    display: inline-block;  
     vertical-align: top;  
    background-color: #21E75C;
  }
  .page5d2{
    width:210px;
    height:180px ;
    margin: 15px 5px;
    padding: 1px;
    display: inline-block; 
    vertical-align: top;    
    background-color: #D12020;
  }
  .page5d3{
    width:60px;
    height: 60px ;
    margin:20px 25px 5px;
    padding: 1px;
    border-radius: 50%;
    display: inline-block;    
    background-color: #388525;
  }
  .page5d4{
    width:60px;
    height: 60px ;
    margin: 20px 15px 5px;
    padding: 1px;
    border-radius: 50%; 
    display: inline-block;   
    background-color: #FFA509;
  }
  .page5d5{
    width:185px;
    height: 60px ;
    margin: 20px 10px;
    padding: 1px;
    border-radius: 50%;   
    background-color: #FFA60B;
  }
  .page5d6{
    width:210px;
    height:180px ;
    margin: 15px 5px;
    padding: 1px;
    display: inline-block; 
    vertical-align: top;    
    background-color: #D4FF13;
  }
  .page5d7{
    width:60px;
    height: 60px ;
    margin:20px 25px 5px;
    padding: 1px;
    border-radius: 50%;
    display: inline-block;    
    background-color: #856325;
  }
  .page5d8{
    width:60px;
    height: 60px ;
    margin: 20px 15px 5px;
    padding: 1px;
    border-radius: 50%; 
    display: inline-block;   
    background-color: #4A2585;
  }
  .page5d9{
    width:185px;
    height: 60px ;
    margin: 20px 10px;
    padding: 1px;
    border-radius: 50%;   
    background-color: #588525;
  }
  .page5d10{
    width:280px;
    height:180px ;
    margin: 15px 5px;
    padding: 1px;
    display: inline-block; 
    vertical-align: top;    
    background-color: #613EFF;
  }
  .page5d11{
    width:250px;
    height:140px ;
    margin: 15px;
    padding: 1px;
    display: inline-block; 
    vertical-align: top;    
    background-color: #50EBFF;
  }
  .page5d12{
    width:60px;
    height: 60px ;
    margin: 40px 5px 20px 15px;
    padding: 1px;
    border-radius: 50%;
    display: inline-block;    
    background-color: #856325;
  }
  .page5d13{
    width:60px;
    height: 60px ;
    margin:  40px 5px 20px 5px;
    padding: 1px;
    border-radius: 50%; 
    display: inline-block;   
    background-color: #4A2585;
  }
  .page5d14{
    width:60px;
    height: 60px ;
    margin: 40px 5px 20px 5px;
    padding: 1px;
    border-radius: 50%;
    display: inline-block;     
    background-color: #588525;
  }
  .page6{
    width: 950px;    
    height: 1150px;
    margin: 10px 30px 20px 40px;
    padding: 40px;
    background-color: #5731FF;
  }
  .page6a{
    width:180px;
    height: 180px ;
    margin: 10px;
    padding: 1px;
    display: inline-block;     
    background-color: #FF3838;
  }
  .page6a1{
    width:50px;
    height: 50px ;
    margin: 35px 20px 10px;
    padding: 1px;
    display: inline-block;     
    border-radius: 50%;
    background-color: #2BA8BE;
  }
  .page6a2{
    width:50px;
    height: 50px ;
    margin: 35px 10px 10px;
    padding: 1px;
    display: inline-block;     
    border-radius: 50%;
    background-color: #2BA8BE;
  }
  .page6a3{
    width:50px;
    height: 50px ;
    margin: 0px -4px 0px 16px;
    display: inline-block;   
    background-color: #BE2B32;
  }
  .page6a4{
    width:50px;
    height: 50px ;
    margin: 0px;
    display: inline-block;     
    background-color: #BE2B70;
  }
  .page6a5{
    width:50px;
    height: 50px ;
    margin:0px 10px 0px -5px;
    display: inline-block;     
    background-color: #2BADBE;
  }
  .page6b{
    width:180px;
    height: 180px ;
    margin: 10px;
    padding: 1px;
    display: inline-block;     
    background-color: #38FF74;
  }
  .page6b1{
    width:50px;
    height: 50px ;
    margin: 35px 20px 10px;
    padding: 1px;
    display: inline-block;     
    border-radius: 50%;
    background-color: rgb(238, 67, 164);
  }
  .page6b2{
    width:50px;
    height: 50px ;
    margin: 35px 10px 10px;
    padding: 1px;
    display: inline-block;     
    border-radius: 50%;
    background-color: #1BDDF7;
  }
  .page6b3{
    width:50px;
    height: 50px ;
    margin: 0px -4px 0px 16px;
    display: inline-block;   
    background-color: #FF3B45;
  }
  .page6b4{
    width:50px;
    height: 50px ;
    margin: 0px;
    display: inline-block;     
    background-color: #2BBE92;
  }
  .page6b5{
    width:50px;
    height: 50px ;
    margin:0px 10px 0px -5px;
    display: inline-block;     
    background-color: #AFBE2B;
  }
  .page6c{
    width:500px;
    height: 180px ;
    margin: 10px;
    padding: 1px;
    display: inline-block; 
    vertical-align: top;    
    background-color: #EB55FF;
  }
  .page6c1{
    width:140px;
    height: 140px ;
    margin: 15px 2px 15px 15px;
    padding: 1px;
    display: inline-block; 
    vertical-align: top;    
    background-color: #93FF55;
  }
  .page6c2{
    width:70px;
    height: 70px ;
    margin: 30px;
    padding: 1px;
    border-radius: 50%;
    display: inline-block; 
    vertical-align: top;    
    background-color: #55CFFF;
  }
  .page6c3{
    width:140px;
    height: 140px ;
    margin: 15px 5px;
    padding: 1px;
    display: inline-block; 
    vertical-align: top;    
    background-color: #93FF55;
  }
  .page6c4{
    width:70px;
    height: 70px ;
    margin: 30px;
    padding: 1px;
    border-radius: 50%;
    display: inline-block; 
    vertical-align: top;    
    background-color: #55CFFF;
  }
  .page6c5{
    width:140px;
    height: 140px ;
    margin: 15px 5px;
    padding: 1px;
    display: inline-block; 
    vertical-align: top;    
    background-color: #93FF55;
  }
  .page6c6{
    width:70px;
    height: 70px ;
    margin: 30px;
    padding: 1px;
    border-radius: 50%;
    display: inline-block; 
    vertical-align: top;    
    background-color: #55CFFF;
  }
  .page6d{
    width:180px;
    height: 380px ;
    margin: 10px;
    padding: 1px;
    display: inline-block;
    vertical-align: top;     
    background-color: rgb(113, 246, 255);
  }
  .page6d1{
    width:140px;
    height: 340px ;
    margin: 20px;
    padding: 1px;
    display: inline-block;     
    background-color: rgb(52, 238, 83);
  }
  .page6d2{
    width:100px;
    height: 100px ;
    margin: 40px 17px;
    padding: 1px;
    border-radius: 50%;
    display: inline-block;     
    background-color: #FCFF55;
  }
  .page6d3{
    width:100px;
    height: 100px ;
    margin: 15px 17px;
    padding: 1px;
    border-radius: 50%;
    display: inline-block;     
    background-color: #FCFF55;
  }
  .page6e{
    width:180px;
    height: 380px ;
    margin: 10px;
    padding: 1px;
    display: inline-block;  
    vertical-align: top;   
    background-color: rgb(130, 255, 113);
  }
  .page6e1{
    width:140px;
    height: 95px ;
    margin: 20px;
    padding: 1px;
    display: inline-block;     
    background-color: rgb(13, 63, 21);
  }
  .page6e2{
    width:80px;
    height: 80px ;
    margin:  7px 30px;
    padding: 1px;
    border-radius: 50%;
    display: inline-block;     
    background-color: rgb(61, 255, 90);
  }
  .page6e3{
    width:140px;
    height: 200px ;
    margin: 20px;
    padding: 1px;
    display: inline-block;     
    background-color: rgb(50, 255, 245);
  }
  .page6e4{
    width:80px;
    height: 80px ;
    margin:  7px 30px;
    padding: 1px;
    border-radius: 50%;
    display: inline-block;     
    background-color: rgb(15, 255, 47);
  }
  .page6e5{
    width:80px;
    height: 80px ;
    margin:  7px 30px;
    padding: 1px;
    border-radius: 50%;
    display: inline-block;     
    background-color: rgb(17, 165, 37);
  }
  .page6f{
    width:290px;
    height: 380px ;
    margin: 10px;
    padding: 1px;
    display: inline-block;  
    vertical-align: top;   
    background-color: hsl(315, 80%, 37%);
  }
  .page6f1{
    width:270px;
    height: 270px ;
    margin:  45px 10px;
    padding: 1px;
    border-radius: 50%;
    display: inline-block;     
    background-color: rgb(15, 255, 47);
  }
  .page6g{
    width:160px;
    height: 380px ;
    margin: 10px 20px;
    padding: 1px;
    display: inline-block; 
    vertical-align: top;    
    background-color: rgb(26, 141, 135);
  }
  .page6g1{
    width:100px;
    height: 100px ;
    margin:20px 30px;
    padding: 1px;
    border-radius: 50%;
    display: inline-block;     
    background-color: hsl(61, 100%, 50%);
  }
  .page6g2{
    width:100px;
    height: 100px ;
    margin:0px 30px;
    padding: 1px;
    border-radius: 50%;
    display: inline-block;     
    background-color: rgb(21, 63, 253);
  }
  .page6g3{
    width:125px;
    height: 80px ;
    margin:20px 20px;
    padding: 1px;
    border-radius: 50%;
    display: inline-block;     
    background-color: rgb(255, 15, 15);
  }
  .page6x{
    width: 950px;    
    height: 500px;
    margin: 40px 0px ;
    padding: 1px;
    background-color: #8EFF31;
  }
  .page6y1{
    width:180px;
    height: 180px ;
    margin: 20px 30px 20px 55px;
    padding: 1px;
    display: inline-block;     
    background-color: #EBFF38;
  }
  .page6y2{
    width:50px;
    height: 50px ;
    margin: 30px 60px 15px;
    padding: 1px;     
    border-radius: 50%;
    background-color: rgb(172, 238, 67);
  }
  .page6y3{
    width:50px;
    height: 50px ;
    margin: 0px -4px 0px 16px;
    display: inline-block;   
    background-color: #B3000C;
  }
  .page6y4{
    width:50px;
    height: 50px ;
    margin: 0px;
    display: inline-block;     
    background-color: #2BBE92;
  }
  .page6y5{
    width:50px;
    height: 50px ;
    margin:0px 10px 0px -5px;
    display: inline-block;     
    background-color: #AFBE2B;
  }
  .page6y6{
    width:180px;
    height: 180px ;
    margin: 10px 30px 10px 0px;
    padding: 1px;
    display: inline-block;     
    background-color: #4FFF84;
  }
  .page6y7{
    width:50px;
    height: 50px ;
    margin: 30px 60px 15px;
    padding: 1px;     
    border-radius: 50%;
    background-color: rgb(238, 67, 164);
  }
  .page6y8{
    width:50px;
    height: 50px ;
    margin: 0px -4px 0px 16px;
    display: inline-block;   
    background-color: #057433;
  }
  .page6y9{
    width:50px;
    height: 50px ;
    margin: 0px;
    display: inline-block;     
    background-color: #68FFD2;
  }
  .page6y10{
    width:50px;
    height: 50px ;
    margin:0px 10px 0px -5px;
    display: inline-block;     
    background-color: #AFBE2B;
  }
  .page6y11{
    width:180px;
    height: 180px ;
    margin: 10px 30px 10px 0px;
    padding: 1px;
    display: inline-block;     
    background-color: #FFE138;
  }
  .page6y12{
    width:50px;
    height: 50px ;
    margin: 30px 60px 15px;
    padding: 1px;     
    border-radius: 50%;
    background-color: rgb(32, 177, 182);
  }
  .page6y13{
    width:50px;
    height: 50px ;
    margin: 0px -4px 0px 16px;
    display: inline-block;   
    background-color: #863BFF;
  }
  .page6y14{
    width:50px;
    height: 50px ;
    margin: 0px;
    display: inline-block;     
    background-color: #3EFFC2;
  }
  .page6y15{
    width:50px;
    height: 50px ;
    margin:0px 10px 0px -5px;
    display: inline-block;     
    background-color: #AFBE2B;
  }
  .page6y16{
    width:180px;
    height: 180px ;
    margin: 10px;
    padding: 1px;
    display: inline-block;     
    background-color: #940D60;
  }
  .page6y17{
    width:50px;
    height: 50px ;
    margin: 30px 60px 15px;
    padding: 1px;     
    border-radius: 50%;
    background-color: rgb(238, 67, 164);
  }
  .page6y18{
    width:50px;
    height: 50px ;
    margin: 0px -4px 0px 16px;
    display: inline-block;   
    background-color: #3BFF5C;
  }
  .page6y19{
    width:50px;
    height: 50px ;
    margin: 0px;
    display: inline-block;     
    background-color: #1EFFBC;
  }
  .page6y20{
    width:50px;
    height: 50px ;
    margin:0px 10px 0px -5px;
    display: inline-block;     
    background-color: #F0FF6D;
  }
  .page6z{
    width:430px;
    height: 180px ;
    margin: 30px 10px 30px 30px;
    padding: 1px;
    display: inline-block; 
    vertical-align: top;    
    background-color: #006329;
  }
  .page6z1{
    width:390px;
    height: 150px ;
    margin: 18px;
    padding: 1px;
    display: inline-block; 
    vertical-align: top;    
    background-color: #FFD51B;
  }
  .page6z2{
    width:90px;
    height: 90px ;
    margin:25px 15px;
    padding: 1px;     
    border-radius: 50%;
    display: inline-block; 
    background-color: rgb(238, 67, 164);
  }
  .page6z3{
    width:90px;
    height: 90px ;
    margin: 25px 15px; 
    padding: 1px; 
     display: inline-block;    
    border-radius: 50%;
    background-color: rgb(238, 67, 164);
  }
  .page6z4{
    width:90px;
    height: 90px ;
    margin: 25px 15px;
    padding: 1px;     
    border-radius: 50%;
    display: inline-block; 
    background-color: rgb(238, 67, 164);
  }
  .page6z5{
    width:430px;
    height: 180px ;
    margin: 30px 10px 30px 20px;
    padding: 1px;
    display: inline-block; 
    vertical-align: top;    
    background-color: #006329;
  }
  .page6z6{
    width:390px;
    height: 150px ;
    margin: 18px;
    padding: 1px;
    display: inline-block; 
    vertical-align: top;    
    background-color: #FFD51B;
  }
  .page6z7{
    width:90px;
    height: 90px ;
    margin:25px 15px;
    padding: 1px;     
    border-radius: 50%;
    display: inline-block; 
    background-color: rgb(238, 67, 164);
  }
  .page6z8{
    width:90px;
    height: 90px ;
    margin: 25px 15px; 
    padding: 1px; 
     display: inline-block;    
    border-radius: 50%;
    background-color: rgb(238, 67, 164);
  }
  .page6z9{
    width:90px;
    height: 90px ;
    margin: 25px 15px;
    padding: 1px;     
    border-radius: 50%;
    display: inline-block; 
    background-color: rgb(238, 67, 164);
  }
  