
*{
  margin: 0;
  padding: 0;
}
main{
  background-color: aqua;
  width: 612px;
  margin: auto;
}
main article {
  width: 200px;
  height: 200px;
  background-color: bisque;
  display: inline-block;
  border-radius: 50%;
}
nav{
  background-color: #FF1744;
  text-align: center;
}
nav ul li {
  display: inline-block;
  list-style: none;
}
nav ul li a{
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}




